* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
  max-width: 100%;
}

ul {
  display: flex;
  list-style-type: none;
  /* justify-content: space-between; */
}

/* .top-line {
  display: inline;
} */

a {
  text-decoration: none;
}

.section {
  padding-bottom: 120px;
}

/* .container {

} */

/* -----------    Top-line    --------- */

.heder {
  border-bottom: 1px solid #e7e9fc;
}

/* 
.top-line-nav {
}
*/
.top-line-link {
  padding: 16px 32px;
  border-radius: 3px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-clr {
  color: #2e2f42;
}

.menu-list {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  gap: 8px;
}

.menu-list:hover .menu-list:focus {
  color: #404bbf;
}

/* .menu-item {
} */

.menu-link {
  color: #2e2f42;
}

.menu-link:hover {
  color: #404bbf;
}

.menu-link:focus {
  color: #404bbf;
}

/* -----------    Top-line end    -------- */

/* -----------    Contacts    --------- */

.contacts-title {
  font-style: normal;
}

/* .contacts-list {
} */

.contacts-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-link {
  color: #434455;
}

.contacts-link:hover {
  color: #404bbf;
}

.contacts-link:focus {
  color: #404bbf;
}

/* -----------    Contacts end   --------- */

/* -----------    Hero    --------- */

main>*:first-child>div {
  background-color: #2e2f42;
  max-width: 100%;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding-top: 188px;
  margin-bottom: 48px;
  /* align-content: center; */
}

.hero-btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  margin-bottom: 188px;
}

button {}

.hero-btn:hover {
  background-color: #404bbf;
}

.hero-btn:focus {
  background-color: #404bbf;
}

/* -----------    Hero  end  --------- */

/* -----------    Advantages   --------- */

/* .advantages {
} */

.top-line {
  display: inline;
}

.advantages-title {
  display: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.advantages-list {
  align-self: center;
}

/* 
.advantages-item {
} */

.advantages-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* -----------    Advantages end  --------- */

/* -----------    Team   --------- */

.team {
  background: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  padding-bottom: 72px;
}

.container .team-list {
  width: calc((100% - 20px)/4);
}

.team-item {
  background: #fff;
}

/* .team-img {
} */

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* -----------    Team end  --------- */

/* -----------    Portfolio  --------- */

/* .portfolio {
} */

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  padding-bottom: 72px;
}

.portfolio-list {
  flex-wrap: wrap;
  gap: 24px;
  flex-grow: 3;
  max-width: 1128px;
}

.portfolio-item {
  background: #fff;
  flex-grow: 3;
}

.portfolio-img {
  width: 360px;
  height: 300px;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* -----------    Portfolio end  --------- */

/* -----------    Footer   --------- */

.footer {
  background: #2e2f42;
}

.footer .container {
  max-width: 100%;
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* -----------    Footer end  --------- */